.banner::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}
/* .banner-left {
  position: absolute;
  content: "";
  left: 60%;
  top: 0;
  width: 40%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
  background-image: linear-gradient(180deg, #792037, #130203da, #141618);

} */
.border-style {
  position: relative;
  padding: 10px 20px;
}

.border-style::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 30%;
  height: 44%;
  border-left: 5px solid #ff3465;
  border-radius: 10px;
}
.download {
  color: white;
  background: #ff3465;
  padding: 12px 25px;
  font-size: 17px;
  border-radius: 5px;
  border: 2px solid #ff3465;
  transition: 0.3s linear;
  font-weight: 800;
  cursor: pointer;
}
.download:hover {
  background: transparent;
}

.light-effect {
  color: #ffff;
  -webkit-box-reflect: below 1px linear-gradient(#fff);
  line-height: 0.7em;
  outline: none;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #ffff;
    box-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #ff3465, 0 0 20px #ff3465, 0 0 40px #03bcf4,
      0 0 80px #ff3465, 0 0 160px #ff3465;
  }
}
.title {
  position: absolute;
  top: 0;
  left: 21%;
  font-size: 25rem;
  font-family: "Rosseta";
  font-weight: 700;
  color: #7920385e;
  overflow: hidden;
  z-index: -1;
}

.border {
  width: 250px;
  border: 3px solid #ff3465;
  position: relative;
  display: inline-block;
  border-color: #ff3465;
  z-index: -1;
  border-radius: 10px;
}

/* Cube area  */

.cube {
  position: relative;
  width: 230px;
  height: 230px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animates 4s linear infinite;
  z-index: -1;
}

@keyframes animates {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #141618, #ff3465, #ff3463);
  transform: rotateY(calc(90deg * var(--i))) translateZ(114px);
}
.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background: linear-gradient(180deg, #141618cd, #141618cd);
  transform: rotateX(90deg) translateZ(114px);
}
.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 230px;
  background: #ff3465;
  transform: translateZ(-300px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(136, 19, 70, 0.2), 0 0 200px rgba(101, 10, 30, 0.4),
    0 0 200px rgba(103, 16, 54, 0.6), 0 0 400px rgba(135, 17, 70, 0.8),
    0 0 500px rgb(255, 0, 102);
}

@media (max-width: 500px) {
  .banner::before {
    width: 100%;
    height: 140%;
  }
}
/* About section Style  */
.about {
  position: absolute;
  bottom: 8%;
  left: 24%;
  font-size: 20rem;
  font-family: "Rosseta";
  font-weight: 700;
  color: #79203851;
  overflow: hidden;
  z-index: -1;
}

/* My Skills Section  */
.skills:hover {
  transform: scale(1.2);
  transition: all 0.3s ease 0;
  transition: all 0.3s ease 0s;
}
.skill-text {
  position: absolute;
  left: 30%;
  top: -20%;
  font-size: 18rem;
  font-family: "Rosseta";
  font-weight: 700;
  color: #79203842;
  overflow: hidden;
  z-index: -1;
}

.skill {
  background: #7920385e;
  padding: 40px;
  text-align: center;
  z-index: 10;
}
.skills1,
.skills2,
.skills3,
.skills4,
.skills5,
.skills6 {
  flex-basis: 28.33%;
  border-radius: 12px;
  margin: 0 15px 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 10px #ff34636b;
}
.skills1::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 140%;
  background: linear-gradient(180deg, #ff3463, #141618, #ff3463, #141618);
  animation: animeBorder 2s linear infinite;
}
.skills1::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #792038f4;
  border-radius: 16px;
}

.skills2::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 140%;
  background: linear-gradient(180deg, #ff3463, #141618, #ff3463, #141618);
  animation: animeBorder 2s linear infinite;
}

.skills2::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #792038f4;
  border-radius: 16px;
}

.skills3::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 140%;
  background: linear-gradient(180deg, #ff3463, #141618, #ff3463, #141618);
  animation: animeBorder 2s linear infinite;
}

.skills3::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #792038f4;
  border-radius: 16px;
}

.skills4::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 140%;
  background: linear-gradient(180deg, #ff3463, #141618, #ff3463, #141618);
  animation: animeBorder 2s linear infinite;
}

.skills4::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #792038f4;
  border-radius: 16px;
}
.skills5::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 140%;
  background: linear-gradient(180deg, #ff3463, #141618, #ff3463, #141618);
  animation: animeBorder 2s linear infinite;
}

.skills5::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #792038f4;
  border-radius: 16px;
}
.skills6::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 140%;
  background: linear-gradient(180deg, #ff3463, #141618, #ff3463, #141618);
  animation: animeBorder 2s linear infinite;
}

.skills6::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #792038f4;
  border-radius: 16px;
}
@keyframes animeBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
